.menu-icon {
  &:hover::after {
    background: $secondary-color;
    box-shadow: 0 7px 0 $secondary-color, 0 14px 0 $secondary-color;
  }

  &::after {
    background: $primary-color;
    box-shadow: 0 7px 0 $primary-color, 0 14px 0 $primary-color;
  }
}

#side-nav {
  background: rgba(10,10,10,.5);
  height: 100%;
  padding: 3.5rem 0 0 0.75rem;

  ul {
    margin: 2rem 0 0 0;

    li {
      list-style: none;
    }
  }
}
