#contact-wrap-small {
  margin: 0.5rem auto 0 auto;
  width: 201px;

  i {
    margin-right: .25rem;
  }
}

#side-nav {
  background: rgba(10,10,10,.5);
  height: 100%;
  padding: 3.5rem 0 0 0.75rem;

  #content-wrap {
    position: relative;
    top: 35%;
  }

  ul {
    margin: 2rem 0 0 0;

    li {
      font-weight: lighter;
      list-style: none;

      i {
        margin-right: .25rem;
      }
    }
  }
}
